<!--<div *ngFor="let favpost of favPost">-->
<!--<mat-card class="example-card">-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title>{{favpost.title}}</mat-card-title>-->
    <!--<mat-card-subtitle>{{favpost.status}}</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--<img mat-card-image src="https://media-cdn.trulia-local.com/neighborhood-media-service-prod/ma/boston/south-dorchester/1371-ma_bos_south_dorchester_275424_151_1200x_cfit.jpg">-->
  <!--<mat-card-content>-->
    <!--<p>{{favpost.description}}</p>-->
    <!--<span class="heart" style="&#45;&#45;d:25px" title="Add to Favorites"></span>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->
<!--</div>-->
<!--<mat-card class="example-card">-->
<!--<mat-card-header>-->
  <!--<div mat-card-avatar class="example-header-image"></div>-->
  <!--<mat-card-title>House 2</mat-card-title>-->
  <!--<mat-card-subtitle>Apartment 16</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--<img mat-card-image src="https://media-cdn.trulia-local.com/neighborhood-media-service-prod/ma/boston/south-dorchester/1371-ma_bos_south_dorchester_275424_151_1200x_cfit.jpg">-->
<!--<mat-card-content>-->
  <!--<p>15 Palace Road</p>-->
  <!--<span class="heart" style="&#45;&#45;d:25px" title="Add to Favorites"></span>-->
<!--</mat-card-content>-->
<!--<mat-card-actions>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->


<div class= "jumbotron main_container" ng-controller="favoriteController" *ngFor="let favpost of favPost">
  <mat-card class="card-picture">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{favpost.title}}</mat-card-title>
      <mat-card-subtitle>{{favpost.propertyType}}</mat-card-subtitle>
      <mat-card-subtitle>{{favpost.streetAddress1}}  {{favpost.streetAddress2}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media-cdn.trulia-local.com/neighborhood-media-service-prod/ma/boston/south-dorchester/1371-ma_bos_south_dorchester_275424_151_1200x_cfit.jpg">
    <mat-card-content>
      <p>
        <!--{{post.description}}-->
      </p>
      <p>
        Posted By : {{favpost.firstname}}<br>
        Price: {{favpost.price}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
