#h2{

    margin-top: 20px;
    margin-left: 750px;
    color: coral;
}

.form-control{
  width: 400px;
  margin: 5px;
}

#maindiv{
  background-color: coral;
  width: 600px;
  height: 300px;
  margin-left: 500px;
  border-radius: 50px 50px 50px 50px;
}

.form-group{
  //padding-top: 10px;
  margin-left: 100px;
  margin-top: 20px;
}
#login{
 margin-left: 150px;
}

#email{
  margin-top: 50px;
}

#elabel{
  margin-top: 50px;
}
